body {
  background-color: #fffafa;
  background-image: url("/static/img/bg.png");
}

#welcome-container {
  margin-top: 10%;
}

.container {
  width: 100%;
}

#abilitiesPanel {
  position: absolute;
  left: 1200px;
  width: calc(100% - 1200px);
  height: 100%;
}

#main-title {
  text-align: center;
}

.alert {
  margin: 10px;
}

.btn-primary {
  margin-top: 5%;
}

#nickname {
  margin-top: 5%;
}

.arrow {
  font-size: 20px;
}
