{% extends "layout.html" %}
{% block title %} My Other Half {% endblock %}
{% block content %}
{{ User.playername }}
{{ Room.roomId }}
{% endblock %}
{% block scripts %}
<script type="javascript">
//game here lol
</script>
{% endblock %}
