{% extends "layout.html" %}
{% block title %} Join a game {% endblock %}
{% block content %}

<div class="container" id="welcome-container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" id="main-title">
      <div class="panel">
      {% if error != None and error|string() != '' %}
      <div class="alert alert-danger">{{error}}</div>
      {% endif %}
        <div class="panel-body">
          <h1>my other half</h1>
          <p class="help-block">Where teamwork isn't optional</p>
          <form action="game" method="POST">
            <div class="col-sm-8 col-sm-offset-2">
              <input placeholder="Nickname" class="form-control" name="nickname" id="nickname" />
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary">Play <span class="arrow">&#8680;</span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
